body {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 5);
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 calc(var(--yr) * 2);
}
